
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
tso_stats.json

# Venv
backend/venv/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
npm-debug.log
yarn-error.log
frontend/dist/

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Project Specific
backend/data/models/
backend/models/*.pkl
backend/models/*.json
backend/outputs/
debug_data.py
.idea/
.vscode/

# Environment variables
.env
